.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
}
.App Background {
      background-color:linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat,
      no-repeat,
      no-repeat;
  background-position: bottom right,
      left,
      right;
}